<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.goodsmanage.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.example.goodsmanage.domain.Category">
        <id column="CATEGORY_ID" jdbcType="BIGINT" property="categoryId" />
        <result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from CATEGORY;
    </select>
</mapper>
